.Name {
    margin-bottom: -10px;
}

.Name a {
    text-decoration: none;
    color: #dee5ec;
    font-size: 1.1142857143rem;
    font-weight: 400;
    line-height: 1.2;
}

.LogOut {
    margin-left: 20px;
}

.LogOut i {
    color: #444c6f;
    font-size: 20px;
}

.LogOut i:hover {
    color: #974a5f;
}
